.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  width: fit-content;
  border-radius: 24px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: #8585ad;
  transition: color 0.3s ease;
}
.link:hover {
  color: #f2f2f3;
}

.link:hover .icon {
  transform: translateY(-2px);
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}
