.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

.title {
  width: 100%;
  text-align: left;
}

.listContainer {
  display: flex;
  flex-direction: column;
}

.list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 24px;
}

.line {
  max-height: calc(100vh - 400px);
  overflow-y: auto;
  width: 100%;

  scrollbar-width: thin;
  scrollbar-color: #8585ad #2f2f37;
}
