.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: clamp(100px, 10vw, 140px);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    position: relative;

}


.error {
    position: absolute;
    width: 100%;
    top: -30px;
    color: #f44336;
    text-align: center;
}

.message {
    width: 100%;
    color: green;
    text-align: center;
}

.extraContainer {
    text-align: center;
}

.extraContainer p {
    margin-bottom: 16px;
}

.extraContainer p:last-child {
    margin-bottom: 0;
}

.link {
    color: #4C4CFF;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}
