body {
  margin: 0;
  background-color: #131316;
}

.line::-webkit-scrollbar {
  width: 8px;
}

.line::-webkit-scrollbar-track {
  background: #2f2f37;
}

.line::-webkit-scrollbar-thumb {
  background-color: #8585ad;
  border-radius: 0;
  border: 1px solid transparent;
  background-clip: content-box;
}

.line::-webkit-scrollbar-thumb:hover {
  background-color: #2f2f37;
}
