.header {
  /* Оставить в случае сли ширина рамки панели должна быть фиксированной 
  max-width: 1920px;
  margin: clamp(10px, 2vw, 40px) auto;
  */
  margin: clamp(10px, 2vw, 40px) clamp(10px, 2vw, 40px);
  background-color: #1c1c21;
}
